/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */
body{
    background-color: #1b1c1d;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: sans-serif; */
}
.pol{
    border-radius: 10px;
}
.gaf{
    border-radius: 10px;
    background-color: #1b1c1d;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    /* display: flex; */
   
}
.container{

    position: relative;
    /* width: 1180px; */
    max-width: 1000px;
    height: 900px;
    background-color: rgb(43, 43, 43);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 35px 35px rgba(59, 62, 68, 0.1);
    margin: 30px;
    
}
.profile-text{
    position: relative;
    color: rgb(155, 155, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);

}
.profile-text .imgbox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}
.man{
    position: absolute;
    left: 350px;
    top: 10px;
}
.profile-text .imgbox img{
    position: absolute;
    top: 0px;
    margin-top: 0px;
    left: 0px;
    width: 200px;
    height: 400px;
    object-fit: cover;
}
.profile-text h2{
    font-size: 1.999rem;
    margin-top: 20px;
    columns: rgb(16, 43, 131);
    text-transform: capitalize;
    text-align: center;
    font-weight: 600px;
    line-height: 1.6em;
}
.profile-text h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo{
    padding-top: 40px;
}
.title{
    color: rgb(161, 161, 161);
    text-transform: uppercase;
    font-family: 600;
    margin-bottom: 20px;
}
.contactinfo .tittle{
    color: rgb(110, 110, 110);
    font-size: 30px;
}
.contactinfo ul{
    position: relative;
}
.contactinfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
}
.contactinfo ul li span{
    color: rgb(107, 107, 107);
    font-weight: 300px;
}
.container .left{
    position: relative;
    background: #080808;
    padding: 48px;
    width: fit-content;
}
.contactinfo-education h3, h2{
    color: rgb(28, 172, 230);
    list-style-type: none;
}

.contactinfo-education li{
    margin-bottom: 15px;
}
.contactinfo-education h5{
    font-weight: 500px;
    color: #1ba1df;
}
.contactinfo-education h4{
    color: rgb(124, 122, 122);
    font-weight: 500px;
}
.contactinfo-language{
    color: rgb(145, 143, 143);
    height: 25px;
}
.contactinfo-language .tittle{
    color: #d3d4d4;
    font-size: 30px;
}
.contactinfo-language .percent{
    position: relative;
    width: 100%;
    background: black;
    height: 4px;
    display: block;
    margin-top: 0px;
}
.contactinfo-language .percent div{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: cornflowerblue;
}

.container .right{
    position: relative;
    background: rgb(15, 15, 15);
    color: #d4d4d4;
    padding: 48px;
    word-spacing: 10px;
    /* letter-spacing: 1px; */
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0px;
}
.title2{
    color: #02aafd;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 25px; 

}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;

}
.about .box .yearcompany{
    min-width: 150px;
}
.about .box .yearcompany h4{
    text-transform: uppercase;
    font-weight: 600px;
    color: #848c90;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #03a9f4;
    font-size: 16px;
}
.skill .box{
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 1fr;
}
.skill .box h4{
    text-transform: uppercase;
    color: #53585e;
    font-weight: 500;
}
.skill .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.skill .box .percent dev {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #03a9f4;
}
.interest ul li {
    
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0px;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media (max-width: 1000px) 
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px)
{
    .about ,.box
    {
        flex-direction: column;
    }
    .about .box .yearcompany
    {
        margin-top: 5px;
    }
    .interest ul
    {
        grid-template-columns: repeat(1,1fr);
    }
    .skill .box
    {
        grid-template-columns: repeat(1,1fr);
    }
}
